pkgbase = nib-bin
	pkgdesc = Lightweight markdown editor with realtime inline preview
	pkgver = 0.6.0
	pkgrel = 1
	url = https://nibeditor.com
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = hicolor-icon-theme
	optdepends = pandoc: import and export DOCX, ODT, EPUB, LaTeX and friends
	optdepends = xdg-utils: open links and attachments in the desktop default application
	provides = nib=0.6.0
	conflicts = nib
	noextract = nib.deb
	options = !strip
	options = !debug
	options = !emptydirs
	source = nib.desktop
	sha256sums = 8c6919dae22daa47d0da8f1089bc19a1f4304fa95363d50eff156c4751326915
	source_x86_64 = nib.deb::https://github.com/lxorb/nibeditor/releases/download/v0.6.0/Nib-0.6.0-linux-x64.deb
	sha256sums_x86_64 = 5b9d32d748d3f86f423cdb1d2a598f519b7bd66f66d51a51cc8fd1b402f30e5c
	source_aarch64 = nib.deb::https://github.com/lxorb/nibeditor/releases/download/v0.6.0/Nib-0.6.0-linux-arm64.deb
	sha256sums_aarch64 = b9f5698867a009cc825f357f30c581eab020f4b66e944f07e15bb7112f54b1f2

pkgname = nib-bin
