pkgbase = nib-bin
	pkgdesc = Lightweight markdown editor with realtime inline preview
	pkgver = 0.5.0
	pkgrel = 1
	url = https://nibeditor.com
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = hicolor-icon-theme
	optdepends = pandoc: import and export DOCX, ODT, EPUB, LaTeX and friends
	optdepends = xdg-utils: open links and attachments in the desktop default application
	provides = nib=0.5.0
	conflicts = nib
	noextract = nib.deb
	options = !strip
	options = !debug
	options = !emptydirs
	source = nib.desktop
	sha256sums = 8c6919dae22daa47d0da8f1089bc19a1f4304fa95363d50eff156c4751326915
	source_x86_64 = nib.deb::https://github.com/lxorb/nibeditor/releases/download/v0.5.0/Nib-0.5.0-linux-x64.deb
	sha256sums_x86_64 = 5ce5f532ce1e48f48b3bf73f8c892a540870c0006df220b157112f672d7646eb
	source_aarch64 = nib.deb::https://github.com/lxorb/nibeditor/releases/download/v0.5.0/Nib-0.5.0-linux-arm64.deb
	sha256sums_aarch64 = 3671983edfdf33a605860136f38946f8b0b982fa4f888abf9ed3fba62de81767

pkgname = nib-bin
